body {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  text-align: left;
  color: #E5EFF5;
}

h1, h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2;
  margin-bottom: 18px;
}

strong {
  color: #C0DF34;
  font-weight: 700
}

.sect {
  padding: 25px;
}

/* Title section */
.title {
  border-radius: 3% 3% 0 0;
}

.title p {
  color: #98A6BD;
}

.title h1 {
  color: #2AB2AF;
}

/* Subsription section */
.Subsription {
  background-color: #2AB2AF;
  border-radius: 0 0 0 3%;
}

@media (max-width: 992px) {
  .Subsription {
    border-radius: 0;
  }
}

.amount {
  font-size: 2.5rem;
  margin-right: 2%;
}

.btn {
  color: #E5EFF5;
  background-color: #C0DF34;
}

.btn:hover {
  color: #E5EFF5;
  background-color: #A9C42D;
}

/* Features section */
.Features {
  background-color: #2FC4C2;
  border-radius: 0 0 3% 0;
}

@media (max-width: 992px) {
  .Features {
    border-radius: 0 0 3% 3%;
  }
}

/* Footer */
.footer-section {
  margin: 3% auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3E52A3;
}
